In [23]:
import pandas as pd
from  pathlib import Path

In [24]:
DATA_PATH=Path("../data/raw/train.csv").resolve()

In [25]:
df = pd.read_csv(DATA_PATH)

In [26]:
df.head()

,id,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk
0,0,urban,2,0.06,35,daylight,rainy,False,True,afternoon,False,True,1,0.13
1,1,urban,4,0.99,35,daylight,clear,True,False,evening,True,True,0,0.35
2,2,rural,4,0.63,70,dim,clear,False,True,morning,True,False,2,0.30
3,3,highway,4,0.07,35,dim,rainy,True,True,morning,False,False,1,0.21
4,4,rural,1,0.58,60,daylight,foggy,False,False,evening,True,False,1,0.56

In [27]:
df.shape

(517754, 14)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517754 entries, 0 to 517753
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      517754 non-null  int64
 1   road_type               517754 non-null  object
 2   num_lanes               517754 non-null  int64
 3   curvature               517754 non-null  float64
 4   speed_limit             517754 non-null  int64
 5   lighting                517754 non-null  object
 6   weather                 517754 non-null  object
 7   road_signs_present      517754 non-null  bool
 8   public_road             517754 non-null  bool
 9   time_of_day             517754 non-null  object
 10  holiday                 517754 non-null  bool
 11  school_season           517754 non-null  bool
 12  num_reported_accidents  517754 non-null  int64
 13  accident_risk           517754 non-null  float64
dtypes: bool(4), float64(2), int64(4), object(4)
memory usage: 41.5+ MB

In [29]:
df.describe(include='all')

,id,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk
count,517754.000000,517754,517754.000000,517754.000000,517754.000000,517754,517754,517754,517754,517754,517754,517754,517754.000000,517754.000000
unique,NaN,3,NaN,NaN,NaN,3,3,2,2,3,2,2,NaN,NaN
top,NaN,highway,NaN,NaN,NaN,dim,foggy,False,True,morning,True,False,NaN,NaN
freq,NaN,173672,NaN,NaN,NaN,183826,181463,259289,260045,173410,260688,260164,NaN,NaN
mean,258876.500000,NaN,2.491511,0.488719,46.112575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.187970,0.352377
std,149462.849975,NaN,1.120434,0.272563,15.788521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.895961,0.166417
min,0.000000,NaN,1.000000,0.000000,25.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
25%,129438.250000,NaN,1.000000,0.260000,35.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.230000
50%,258876.500000,NaN,2.000000,0.510000,45.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.340000
75%,388314.750000,NaN,3.000000,0.710000,60.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,0.460000
max,517753.000000,NaN,4.000000,1.000000,70.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,1.000000

In [30]:
df.duplicated().sum()

np.int64(0)

In [31]:
df.drop("id",axis=1,inplace=True)

In [32]:
df.duplicated().sum()

np.int64(656)

In [33]:
df.drop_duplicates(inplace=True)

In [34]:
df.head()

,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk
0,urban,2,0.06,35,daylight,rainy,False,True,afternoon,False,True,1,0.13
1,urban,4,0.99,35,daylight,clear,True,False,evening,True,True,0,0.35
2,rural,4,0.63,70,dim,clear,False,True,morning,True,False,2,0.30
3,highway,4,0.07,35,dim,rainy,True,True,morning,False,False,1,0.21
4,rural,1,0.58,60,daylight,foggy,False,False,evening,True,False,1,0.56

In [35]:
df.shape

(517098, 13)

In [48]:
PROCECESSED_DATA=Path("../data/processed/cleaned_train.csv").resolve()
PROCECESSED_DATA.parent.mkdir(parents=True,exist_ok=True)

In [49]:
df.to_csv(PROCECESSED_DATA,index=False)